<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/favicon.ico">
    <title>svf-frontend</title>
    <script src="https://storage.googleapis.com/staging.svf-turkish.appspot.com/config.js"
        charset="UTF-8"></script>
    <link href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/css/app.3f2e2c98.css" rel="preload" as="style">
    <link href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/css/chunk-vendors.16da611a.css" rel="preload" as="style">
    <link href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/js/app.772ed8a4.js" rel="preload" as="script">
    <link href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/js/chunk-vendors.6464bede.js" rel="preload" as="script">
    <link href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/css/chunk-vendors.16da611a.css" rel="stylesheet">
    <link href="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/css/app.3f2e2c98.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but svf-frontend doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id="app"></div>
    <script src="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/js/chunk-vendors.6464bede.js"></script>
    <script src="https://storage.googleapis.com/staging.svf-turkish.appspot.com/static/js/app.772ed8a4.js"></script>
</body>

</html>